<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!--End Stylesheet-->

    {% if title %}
        <title>Blog Scrap - {{ title }}</title>
    {% else %}
        <title>Blog Scap</title>
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="nav-items">
                <ul>
                    <li class="nav-links"><a href="{{ url_for('home')}}">Home</a></li>
                    <li class="nav-links"><a href="{{ url_for('web_markiting')}}">Web Marketing</a></li>
                    <li class="nav-links"><a href="{{ url_for('web_design')}}">Web Design</a></li>
                    <li class="nav-links"><a href="{{ url_for('data_science')}}">Data Science</a></li>
                </ul>
            </div>
        </div>
        {% block content %}{% endblock %}
    </div>
    
</body>

</html>